.tasks-container {
    padding: 20px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

.add-task-box {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.add-task-box input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn-add {
    background-color: #0652DD;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-add:hover {
    background-color: #1B9CFC;
}

/* TABLE */
.task-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
}

.task-table th,
.task-table td {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.task-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.empty {
    text-align: center;
    padding: 20px;
}

/* SELECT STATUT */
.status-select {
    padding: 6px 10px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

/* Rouge : À faire */
.status-select.À.faire {
    background-color: #e63946;
    color: white;
}

/* Jaune : En cours */
.status-select.En.cours {
    background-color: #f1c40f;
    color: black;
}

/* Vert : Terminé */
.status-select.Terminé {
    background-color: #2ecc71;
    color: white;
}

/* Bouton supprimer */
.delete-btn {
    background-color: #c0392b;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.delete-btn:hover {
    background-color: #e74c3c;
}
